h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3385FF;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.container-duplo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.imagem-principal {
    margin: 30px;
}

.imagem-principal img {
    max-width: 500px;
    max-height: 800px;
}

.formulario-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    max-width: 500px;
}

.formulario-principal a{
    color: white;
    font-size: 20px;
    margin: 5px;
    font-weight: bold;
}

.formulario-principal input{
    font-size: 20px;
    text-align: center;
    border-radius: 32px;
    padding: 5px;
    margin: 5px;
    width: 300px;
    border-color: white;
}

.formulario-principal button{
    background-color: #0FD06F;
    color: white;
    font-size: 25px;
    text-align: center;
    border-radius: 32px;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
    width: 100px;
}

.btn-entrar a {
    text-decoration: none;
}